@{
    ViewData["Title"] = "Тестовое задание";
}

<div class="text-left">

    <h1 class="display-4">Тестовое задание</h1>

    <h4>Задание</h4>
    <p>Необходимо реализовать приложение показывающее просмотр курса валют с официального сайта ЦБ.</p>
    <p>Требование к функционалу:</p>
    <ul>
        <li>приложение должно выводить список доступных валют</li>
        <li>вывод динамики котировок выбранной валюты
        <li>должна быть возможность ограничения динамики котировок по дате
    </ul>
    <p>Будет плюсом вывод динамики котировок в график.</p>
    <p>Инструменты для реализации (C#/ASP.NET MVC/JavaScript)</p>

</div>
